<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Criação de Usuários</h2>
        </div>
        <div class="card-body">
            <form action="/user/create/new/" method="post">
                <label>Usuário:</label>
                <input type="email" class="form-control" placeholder="Ex: fulustiano@acad.com" name="user">
                <br>
                <label>Senha:</label>
                <input type="password" class="form-control" placeholder="*************" name="pass">
                <br>
                <button class="btn btn-success" style="float: right;">Criar novo usuário</button>
            </form>
        </div>
    </div>
</div>